@import "./../../../styles.scss";

.d-none {
  display: none;
}

.contact {
  position: relative;
  z-index: 1;

  color: white;

  width: $width;

  padding-bottom: 160px;
}

.contact-headline {
  display: flex;
  align-items: center;
  position: relative;
  gap: 50px;
  margin-bottom: 85px;
  padding-right: 100px;

  div {
    width: 50px;
    height: 4px;
    background-color: #4b47ff;
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
  }
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding: $padding;

  .contact-description {
    display: flex;
    flex-direction: column;
    width: 470px;
    gap: 35px;

    > p:first-child {
      font-size: 32px;
      font-weight: 700;
    }

    > p:nth-child(2),
    > p:nth-child(3) {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.arrow-up {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  width: fit-content;
  position: absolute;
  right: 100px;
}

.bg-shape-end {
  position: absolute;
  bottom: -200px;
  left: -250px;
  width: 750px;
  rotate: 180deg;
  z-index: -1;
}
