@import "./../../../styles.scss";

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .bg-shape-end {
    bottom: unset;
    top: 50%;
    rotate: 160deg;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
}
