@import "./../../../styles.scss";

.long-bg {
  background-color: $color-bg;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

header {
  width: $width;
  padding: $padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background: $color-bg;

  .home-link {
    display: flex;
  }
}

img {
  width: 150px;

  cursor: pointer;
}

.qick-links {
  display: flex;
  height: 32px;
  gap: 29px;

  a {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;

    text-decoration: none;
    color: white;

    cursor: pointer;

    transition: 75ms;

    &:hover {
      color: #00bee8;
    }
  }
}
