<div class="long-bg">
  <header class="header">
    <a class="home-link" href="#">
      <img src="assets/img/me/logo.png" alt="" />
    </a>
    <div class="qick-links">
      <a
        data-section="about"
        (click)="scrollToSection('about')"
        i18n="@@aboutLink"
        >About me</a
      >
      <a
        data-section="skills"
        (click)="scrollToSection('skills')"
        i18n="@@skillsLink"
        >Skills</a
      >
      <a
        data-section="portfolio"
        (click)="scrollToSection('portfolio')"
        i18n="@@portfolioLink"
        >Portfolio</a
      >
      <!--       <img
        class="language-button"
        src="assets/img/icons/english.png"
        alt="English"
      />
      <img
        class="language-button"
        src="assets/img/icons/german.png"
        alt="German"
      /> -->
    </div>

    <!-- Burger Menu -->
    <nav class="burger-menu">
      <input class="checkbox" type="checkbox" id="burger-toggle" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <div class="menu-items">
        <a (click)="scrollToSection('about')" i18n="@@aboutLink">About me</a>
        <a (click)="scrollToSection('skills')" i18n="@@skillsLink">Skills</a>
        <a (click)="scrollToSection('portfolio')" i18n="@@portfolioLink"
          >Portfolio</a
        >
        <!--         <img
          class="language-button"
          src="assets/img/icons/english.png"
          alt="English"
        />
        <img
          class="language-button"
          src="assets/img/icons/german.png"
          alt="German"
        /> -->
      </div>
    </nav>
  </header>
</div>
