<div class="landing-page">
  <div class="atf-main-content">
    <div class="avatar-with-bg">
      <img class="avatar" src="assets/img/me/avatar-placeholder.webp" alt="" />
      <img class="avatar-bg" src="assets/img/build-objects/group2.png" alt="" />
    </div>

    <div class="atf-right">
      <div class="atf-text">
        <p>I am</p>
        <div class="atf-name">
          <p>Andino Eichberger</p>
          <p>FRONTEND DEVELOPER</p>
        </div>
      </div>
      <a href="#contact">Let´s talk!</a>
    </div>
  </div>

  <div class="atf-info">
    <div class="atf-info-left">
      <div class="cutline"></div>
      <img src="assets/img/icons/github.png" alt="github" />
      <img src="assets/img/icons/mail.png" alt="mail" />
      <a href="mailto:eichberger.andino@gmail.com">{{ email }}</a>
    </div>
    <div class="scroll-down">
      <p>Scroll down</p>
      <img
        src="assets/img/icons/icons-sub/arrow-down-line.png"
        alt="arrow-down"
      />
    </div>
  </div>

  <img class="slide" src="assets/img/build-objects/slide.png" alt="" />
</div>
