/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .atf-right {
    transform: scale(0.8);
    transform-origin: right center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .landing-page {
    flex-direction: column;
    justify-content: center;

    .avatar-with-bg {
      left: unset;
      width: 80%;
    }

    .atf-right {
      transform-origin: center;
      bottom: 100px;
      right: unset;
    }

    .atf-info {
      .atf-info-left {
        width: 100%;
        left: unset;

        .cutline {
          width: unset;
        }

        a {
          display: none;
        }

        .atf-info-left-icons {
          justify-content: center;
          width: 100%;
          position: absolute;
          left: 0;
        }
      }

      .scroll-down {
        display: none;
      }
    }

    .slide {
      height: 50vh;
      width: 125vw;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .avatar-with-bg {
    width: 100% !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .atf-right {
    transform: scale(0.6);

    a {
      transform: scale(1.4);
    }
  }
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
  .atf-right {
    transform: scale(0.4) !important;

    a {
      position: relative;
      bottom: -50px;
      transform: scale(2);
    }
  }
}
