<div class="landing-page">
  <!-- image -->
  <div class="avatar-with-bg">
    <div class="avatar">
      <img src="assets/img/me/avatar-big.webp" alt="" />
      <!-- <img src="assets/img/me/avatar-big-arms.webp" alt="" /> -->
    </div>
    <img class="avatar-bg" src="assets/img/build-objects/group2.png" alt="" />
  </div>

  <!-- text -->
  <div class="atf-right">
    <div class="atf-text">
      <div class="rotated-container">
        <p i18n="@@iAmText">I am</p>
      </div>
      <div class="atf-name">
        <p>Andino Eichberger</p>
        <p i18n="@@jobTitleText">FRONTEND DEVELOPER</p>
      </div>
    </div>
    <a (click)="scrollToSection('contact')" i18n="@@contactLink">Let´s talk!</a>
  </div>

  <!-- info -->
  <div class="atf-info">
    <div class="atf-info-left">
      <div class="cutline"></div>
      <div class="atf-info-left-icons">
        <a
          href="https://github.com/AnonymMonkey"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/img/icons/github.png" alt="github"
        /></a>
        <a
          href="https://www.linkedin.com/in/andino-eichberger-54107b32a/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/img/icons/linkedin.png" alt="linkedin"
        /></a>
        <a href="mailto:contact@andino-eichberger.com"
          ><img src="assets/img/icons/mail.png" alt="mail"
        /></a>

        <a href="mailto:contact@andino-eichberger.com">{{ email }}</a>
      </div>
    </div>
    <div class="scroll-down">
      <p i18n="@@scrollDownText">Scroll down</p>
      <img
        src="assets/img/icons/icons-sub/arrow-down-line.png"
        alt="arrow-down"
      />
    </div>
  </div>

  <!-- bg slide -->
  <img class="slide" src="assets/img/build-objects/slide.png" alt="" />
</div>
