<div class="landscape-warning" *ngIf="showLandscapeWarning">
  <p>{{ "LANDSCAPE_WARNING.MESSAGE" | translate }}</p>
  <p>{{ "LANDSCAPE_WARNING.TURN_DEVICE" | translate }}</p>
  <div class="language-buttons">
    <img
      *ngIf="isEnglish()"
      (click)="switchLanguage('de')"
      class="language-button"
      src="assets/img/icons/english.png"
      alt="{{ 'HEADER.LANGUAGE.ENGLISH_ALT' | translate }}"
    />
    <img
      *ngIf="isGerman()"
      (click)="switchLanguage('en')"
      class="language-button"
      src="assets/img/icons/german.png"
      alt="{{ 'HEADER.LANGUAGE.GERMAN_ALT' | translate }}"
    />
  </div>
</div>
