.slide {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 1080px;
  top: 325px;
}

.avatar-with-bg {
  position: absolute;
  top: 110px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 705px;

  background-image: url("./../../assets/img/build-objects/group2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .avatar {
    height: 705px;
  }
}

.bg-shape-about-me {
  position: absolute;
  width: 572.03px;
  height: 608px;
  right: -15%;
  top: 1050px;
  z-index: 2;
}

.bg-shape-my-skills {
  position: absolute;
  top: 2200px;
  left: -260px;
  z-index: 0;
  width: 430.59px;
  rotate: 180deg;
  transform: scaleX(-1);
}

.bg-shape-portfolio-mid {
  position: absolute;
  left: 0px;
  top: 3300px;
  z-index: -1;
  width: 636px;
}

.bg-shape-portfolio-end {
  position: absolute;
  top: 4050px;
  right: -10%;
  width: 508px;
  rotate: 75deg;
  z-index: -1;
}

.bg-shape-end {
  position: absolute;
  bottom: -300px;
  left: -10%;
  width: 750px;
  rotate: 180deg;
}
