<img class="slide" src="assets/img/build-objects/slide.png" alt="" />

<div class="avatar-with-bg">
  <img class="avatar" src="assets/img/me/avatar-placeholder.webp" alt="" />
</div>

<img
  class="bg-shape-about-me"
  src="assets/img/build-objects/purple.png"
  alt=""
/>
<img
  class="bg-shape-my-skills"
  src="assets/img/build-objects/green-shadow.png"
  alt=""
/>
<img
  class="bg-shape-portfolio-mid"
  src="assets/img/build-objects/vector5.png"
  alt=""
/>
<img
  class="bg-shape-portfolio-end"
  src="assets/img/build-objects/green-shadow.png"
  alt=""
/>
<img class="bg-shape-end" src="assets/img/build-objects/vector4.png" alt="" />
