@import "./../../../styles.scss";

a,
p {
  font-size: 1em;
}

a {
  color: $color-white;

  &:hover {
    color: $color-lightblue;
  }
}

li {
  width: fit-content;
}

.p-cutline-x {
  position: relative;
  left: -100vw;
  height: 4px;
  width: 200vw;
  background-color: $color-lightblue;
  box-shadow: 0px 4px 10px 2px #00bee8;
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px var(--space);
  margin-top: 110px;
  width: $width;
  color: $color-white;

  .privacy-index {
    list-style: none;
    padding-left: 0;

    .privacy-index-link {
      display: block;
      font-size: 1em;
      margin: 10px 0;
      color: $color-white;

      &:hover {
        color: $color-lightblue;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  #responsible-party {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .personalitys {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .p-contact {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .p-main-sections {
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      list-style: inside square;
    }

    section {
      display: flex;
      flex-direction: column;

      gap: 10px;

      text-align: start;
    }

    .h3-cutline-bundle {
      position: relative;
      display: flex;
      align-items: center;
      .i-cutline-x-v2 {
        position: absolute;
        left: calc(-100% - 8px);
        height: 4px;
        width: 100%;
        background-color: $color-darkblue;
      }
    }
  }

  .privacy-seal {
    margin-top: 50px;

    a {
      font-size: 0.75em;
      color: $color-lightblue;

      &:hover {
        color: $color-darkblue;
      }
    }
  }
}
