<div class="impressum">
  <section class="i-info">
    <h1>{{ "IMPRINT.TITLE" | translate }}</h1>
    <h2>{{ "IMPRINT.INFO_TITLE" | translate }}</h2>
    <div>
      <div class="personalitys">
        <p>{{ "IMPRINT.ADDRESS.NAME" | translate }}</p>
        <p>{{ "IMPRINT.ADDRESS.STREET" | translate }}</p>
        <p>{{ "IMPRINT.ADDRESS.CITY" | translate }}</p>
      </div>
      <div class="i-contact">
        <h2>{{ "IMPRINT.CONTACT.TITLE" | translate }}</h2>
        <div>
          <h3>{{ "IMPRINT.CONTACT.PHONE" | translate }}</h3>
          <p>0176-62402887</p>
        </div>
        <div>
          <h3>{{ "IMPRINT.CONTACT.EMAIL" | translate }}</h3>
          <a href="mailto:eichberger.andino@gmail.com">{{ email }}</a>
        </div>
      </div>
    </div>
  </section>

  <div class="i-cutline-x"></div>

  <h2 class="i-haftungsausschluss">
    {{ "IMPRINT.DISCLAIMER_TITLE" | translate }}
  </h2>

  <div class="i-main-sections">
    <section>
      <div>
        <div class="i-cutline-x-v2"></div>
        <h3>{{ "IMPRINT.LIABILITY_CONTENT.TITLE" | translate }}</h3>
      </div>
      <p>{{ "IMPRINT.LIABILITY_CONTENT.TEXT" | translate }}</p>
    </section>

    <section>
      <div>
        <div class="i-cutline-x-v2"></div>
        <h3>{{ "IMPRINT.COPYRIGHT.TITLE" | translate }}</h3>
      </div>
      <p>{{ "IMPRINT.COPYRIGHT.TEXT" | translate }}</p>
    </section>

    <section id="dataprotection">
      <div>
        <div class="i-cutline-x-v2"></div>
        <h3>{{ "IMPRINT.DATA_PROTECTION.TITLE" | translate }}</h3>
      </div>
      <div class="i-data-sections">
        <p>{{ "IMPRINT.DATA_PROTECTION.TEXT" | translate }}</p>
        <div class="i-data-section">
          <h4>{{ "IMPRINT.DATA_PROTECTION.RESPONSIBLE" | translate }}</h4>
          <p>{{ "IMPRINT.DATA_PROTECTION.RESPONSIBLE_TEXT" | translate }}</p>
        </div>
        <div class="i-data-section">
          <h4>{{ "IMPRINT.DATA_PROTECTION.COLLECTION" | translate }}</h4>
          <p>{{ "IMPRINT.DATA_PROTECTION.COLLECTION_TEXT" | translate }}</p>
        </div>
        <div class="i-data-section">
          <h4>{{ "IMPRINT.DATA_PROTECTION.SERVER_LOG" | translate }}</h4>
          <p>{{ "IMPRINT.DATA_PROTECTION.SERVER_LOG_TEXT" | translate }}</p>
        </div>
        <div class="i-data-section">
          <h4>{{ "IMPRINT.DATA_PROTECTION.THIRD_PARTY" | translate }}</h4>
          <p>{{ "IMPRINT.DATA_PROTECTION.THIRD_PARTY_TEXT" | translate }}</p>
        </div>
        <div class="i-data-section">
          <h4>{{ "IMPRINT.DATA_PROTECTION.RIGHTS" | translate }}</h4>
          <p>{{ "IMPRINT.DATA_PROTECTION.RIGHTS_TEXT" | translate }}</p>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="i-cutline-x-v2"></div>
        <h3>{{ "IMPRINT.LIABILITY_LINKS.TITLE" | translate }}</h3>
      </div>
      <p>{{ "IMPRINT.LIABILITY_LINKS.TEXT" | translate }}</p>
    </section>
  </div>

  <div class="i-generator-link">
    <p>
      {{ "IMPRINT.GENERATOR_LINK.TEXT" | translate }}
      <a href="https://www.impressum-generator.de">{{
        "IMPRINT.GENERATOR_LINK.GENERATOR" | translate
      }}</a>
    </p>
    <a href="https://www.flaticon.com/free-icons/english" title="english icons">
      {{ "IMPRINT.GENERATOR_LINK.ICONS_ENGLISH" | translate }}
    </a>
    <a href="https://www.flaticon.com/free-icons/germany" title="germany icons">
      {{ "IMPRINT.GENERATOR_LINK.ICONS_GERMAN" | translate }}
    </a>
  </div>
</div>
