.contact-headline {
  display: flex;
  align-items: center;

  position: relative;
  left: -100px;

  gap: 50px;

  margin-bottom: 85px;

  div {
    width: 50px;
    height: 4px;

    background-color: #4b47ff;
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
  }
}

.contact-content {
  display: flex;
  justify-content: space-between;

  .contact-description {
    display: flex;
    flex-direction: column;

    width: 470px;

    gap: 35px;

    > p:first-child {
      font-size: 32px;
      font-weight: 700;
    }

    > p:nth-child(2),
    > p:nth-child(3) {
      font-size: 16px;
      font-weight: 400;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;

    gap: 32px;

    > input,
    textarea {
      width: 100%;

      padding: 15px 25px 15px 25px;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid #4b47ff;

      background-color: transparent;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;

        color: white;
      }
    }

    textarea {
      height: 200px;
    }

    .contact-form-privacy {
      display: flex;
      align-items: center;

      gap: 8px;

      .contact-form-checkbox {
        position: relative;

        min-width: 18px;
        width: 18px;
        min-height: 18px;
        height: 18px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
          display: flex;
          align-items: center;

          opacity: 0;
          width: 100%;
          height: 100%;

          &:checked + label {
            background-color: transparent;
          }

          &:checked + label::after {
            opacity: 1;

            width: 4px;
            height: 8px;
            border: solid #00bee8;
            border-radius: 2px 2px 2px 2px;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:hover {
            position: absolute;
            left: -25%;
            top: -25%;

            opacity: 1;
            background-color: rgba($color: #4b47ff, $alpha: 0.4);
            border-radius: 50%;
            appearance: none;

            width: calc(100% + 50%);
            height: calc(100% + 50%);
          }
        }

        label {
          display: flex;
          justify-content: center;

          position: absolute;
          left: 0;
          top: 0;

          width: 100%;
          height: 100%;

          background-color: transparent;
          border: 2px solid #00bee8;
          border-radius: 4px;

          transition: background-color 125ms ease, colour 125ms ease;

          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            opacity: 0;
            transition: opacity 125ms ease;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }

      p,
      a {
        font-size: 14px;
      }

      a {
        color: #4b47ff;
        text-decoration: none;
      }
    }

    button {
      width: fit-content;

      padding: 15px 30px 15px 30px;
      gap: 10px;
      border-radius: 10px;

      color: white;

      font-size: 23px;
      font-weight: 400;

      &:disabled {
        background-color: #b6b6b6;
      }
    }
  }
}

.arrow-up {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
