<div class="contact-headline">
  <div></div>
  <h2>Contact</h2>
</div>
<div class="contact-content">
  <div class="contact-description">
    <p>Got a problem to solve?</p>
    <p>
      Contact me through this form, I am interested in hearing from you, knowing
      your ideas and contributing to your projects with my work.
    </p>
    <p>
      Need a Frontend developer?
      <b>Contact me!</b>
    </p>
  </div>
  <form>
    <input type="text" placeholder="Your name" />
    <input type="text" placeholder="Your email" />
    <textarea name="" id="" placeholder="Your message"></textarea>
    <div class="contact-form-privacy">
      <div class="contact-form-checkbox">
        <input type="checkbox" name="" id="privacy" />
        <label for="privacy"></label>
      </div>
      <p>
        I've read the
        <a href="">privacy policy</a>
        and agree to the processing of my data as outlined.
      </p>
    </div>
    <button disabled>Send message :)</button>
  </form>
</div>
<a class="arrow-up" href="#">
  <img src="assets/img/icons/icons-sub/arrow-up.png" alt="Back to top" />
</a>
