<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <!-- Name Input -->
  <div class="normal-input">
    <label for="name" class="visually-hidden" i18n="@@labelName">Name</label>
    <div
      class="normal-input-with-img"
      [ngClass]="{ 'has-error': checkFieldValidity(name) }"
    >
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        name="name"
        id="name"
        placeholder="Your name"
        autocomplete="off"
        required
        i18n-placeholder="@@placeholderName"
      />
      <span *ngIf="checkFieldValidity(name)" i18n="@@nameRequired"
        >Your name is required</span
      >
      <img
        class="input-icon"
        src="assets/img/icons/icons-sub/warning.svg"
        alt=""
        *ngIf="checkFieldValidity(name)"
      />
    </div>
  </div>

  <!-- Email Input -->
  <div class="normal-input">
    <label for="email" class="visually-hidden" i18n="@@labelEmail">Email</label>
    <div
      class="normal-input-with-img"
      [ngClass]="{ 'has-error': checkFieldValidity(email) }"
    >
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        name="email"
        id="email"
        placeholder="Your email"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        autocomplete="off"
        required
        i18n-placeholder="@@placeholderEmail"
      />
      <span *ngIf="checkFieldValidity(email)" i18n="@@emailRequired"
        >Your email is required</span
      >
      <img
        class="input-icon"
        src="assets/img/icons/icons-sub/warning.svg"
        alt=""
        *ngIf="checkFieldValidity(email)"
      />
    </div>
  </div>

  <!-- Message Input -->
  <div class="normal-input">
    <label for="message" class="visually-hidden" i18n="@@labelMessage"
      >Message</label
    >
    <div
      class="textarea-with-resize normal-input-with-img"
      [ngClass]="{ 'has-error': checkFieldValidity(message) }"
    >
      <textarea
        #message="ngModel"
        [(ngModel)]="contactData.message"
        name="message"
        id="message"
        placeholder="Your message"
        autocomplete="off"
        required
        i18n-placeholder="@@placeholderMessage"
      ></textarea>
      <span *ngIf="checkFieldValidity(message)" i18n="@@messageEmpty"
        >Your message is empty</span
      >
      <img
        class="input-icon"
        src="assets/img/icons/icons-sub/warning.svg"
        alt=""
        *ngIf="checkFieldValidity(message)"
      />
      <img
        class="textarea-resize"
        src="assets/img/icons/icons-sub/resize.svg"
        alt="Resize icon"
      />
    </div>
  </div>

  <!-- Privacy Checkbox -->
  <div class="contact-form-privacy">
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input
          class="checkbox__trigger visuallyhidden"
          type="checkbox"
          required
          [(ngModel)]="contactData.privacy"
          name="privacy"
        />
        <span class="checkbox__symbol">
          <svg
            aria-hidden="true"
            class="icon-checkbox"
            width="28px"
            height="28px"
            viewBox="0 0 28 28"
            version="1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 14l8 7L24 7"></path>
          </svg>
        </span>
        <p class="checkbox__textwrapper">
          <span i18n="@@privacyPolicyAgreement"> I've read the </span>
          <a href="" i18n="@@privacyPolicyLink">privacy policy</a>
          <span i18n="@@privacyPolicyConsent">
            and agree to the processing of my data as outlined.
          </span>
        </p>
      </label>
    </div>
  </div>
  <button
    [ngClass]="{ 'button--active': contactForm.valid && contactForm.dirty }"
    [disabled]="!contactForm.valid"
    i18n="@@sendMessageButton"
  >
    Send message :)
  </button>
</form>
