<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <!-- Name Input -->
  <div class="normal-input">
    <label for="name" class="visually-hidden">{{
      "FORM.NAME_PLACEHOLDER" | translate
    }}</label>
    <div
      class="normal-input-with-img"
      [ngClass]="{
        'has-error': checkFieldValidity(name),
        'is-valid': name.valid
      }"
    >
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        name="name"
        id="name"
        [placeholder]="'FORM.NAME_PLACEHOLDER' | translate"
        autocomplete="off"
        minlength="3"
        required
      />
      <span *ngIf="checkFieldValidity(name)">{{
        "FORM.NAME_REQUIRED" | translate
      }}</span>
      <img
        class="input-icon"
        [src]="
          name.valid
            ? 'assets/img/icons/icons-sub/success.svg'
            : 'assets/img/icons/icons-sub/warning.svg'
        "
        alt=""
      />
    </div>
  </div>

  <!-- Email Input -->
  <div class="normal-input">
    <label for="email" class="visually-hidden">{{
      "FORM.EMAIL_PLACEHOLDER" | translate
    }}</label>
    <div
      class="normal-input-with-img"
      [ngClass]="{
        'has-error': checkFieldValidity(email),
        'is-valid': email.valid
      }"
    >
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        name="email"
        id="email"
        [placeholder]="'FORM.EMAIL_PLACEHOLDER' | translate"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        autocomplete="off"
        required
      />
      <span *ngIf="checkFieldValidity(email)">{{
        "FORM.EMAIL_REQUIRED" | translate
      }}</span>
      <img
        class="input-icon"
        [src]="
          email.valid
            ? 'assets/img/icons/icons-sub/success.svg'
            : 'assets/img/icons/icons-sub/warning.svg'
        "
        alt=""
      />
    </div>
  </div>

  <!-- Message Input -->
  <div class="normal-input">
    <label for="message" class="visually-hidden">{{
      "FORM.MESSAGE_PLACEHOLDER" | translate
    }}</label>
    <div
      class="textarea-with-resize normal-input-with-img"
      [ngClass]="{
        'has-error': checkFieldValidity(message),
        'is-valid': message.valid
      }"
    >
      <textarea
        #message="ngModel"
        [(ngModel)]="contactData.message"
        name="message"
        id="message"
        [placeholder]="'FORM.MESSAGE_PLACEHOLDER' | translate"
        autocomplete="off"
        minlength="20"
        required
      ></textarea>
      <span *ngIf="checkFieldValidity(message) && message.errors?.['required']">
        {{ "FORM.MESSAGE_REQUIRED" | translate }}
      </span>
      <span
        *ngIf="checkFieldValidity(message) && message.errors?.['minlength']"
      >
        {{ 'FORM.MESSAGE_MINLENGTH' | translate:{ requiredLength: message.errors?.['minlength'].requiredLength } }}
      </span>
      <img
        class="input-icon"
        [src]="
          message.valid
            ? 'assets/img/icons/icons-sub/success.svg'
            : 'assets/img/icons/icons-sub/warning.svg'
        "
        alt=""
      />
      <img
        class="textarea-resize"
        src="assets/img/icons/icons-sub/resize.svg"
        alt="Resize icon"
      />
    </div>
  </div>

  <!-- Privacy Checkbox -->
  <div class="contact-form-privacy">
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input
          class="checkbox__trigger visuallyhidden"
          type="checkbox"
          required
          [(ngModel)]="contactData.privacy"
          name="privacy"
        />
        <span class="checkbox__symbol">
          <svg
            aria-hidden="true"
            class="icon-checkbox"
            width="28px"
            height="28px"
            viewBox="0 0 28 28"
            version="1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 14l8 7L24 7"></path>
          </svg>
        </span>
        <p class="checkbox__textwrapper">
          {{ "FORM.PRIVACY_AGREE" | translate }}
          <a [routerLink]="['/imprint']" [fragment]="'dataprotection'">
            {{ "FORM.PRIVACY_POLICY" | translate }}
          </a>
          {{ "FORM.PRIVACY_TEXT" | translate }}
        </p>
      </label>
    </div>
  </div>

  <!-- Success Animation -->
  <div *ngIf="formSubmitted" class="success-message">
    <p>{{ "FORM.SUCCESS_MESSAGE" | translate }}</p>
    <div class="animation-container">
      <img src="assets/img/icons/icons-sub/success.svg" alt="Success Icon" />
    </div>
  </div>

  <button
    [ngClass]="{ 'button--active': contactForm.valid && contactForm.dirty }"
    [disabled]="!contactForm.valid"
  >
    {{ "FORM.SUBMIT" | translate }}
  </button>
</form>
