<div class="about-me">
  <div class="a-me-left">
    <h2>About me</h2>
    <p>
      Hi, I am a front-end developer based in Groß Twülpstedt near Wolfsburg,
      Germany. I have had the opportunity to gain experience in a wide variety
      of areas and was finally able to fulfill my dream of working as a software
      developer. As a huge fan of digitization, I want to use my experience as a
      software developer to polish up and improve the future in this area.
      Digitization is the future!
    </p>
    <div class="a-me-left-sub">
      <div>
        <img src="assets/img/icons/bulb.png" alt="" />
        <p>
          My character is primarily characterized by calmness, reliability, and
          the great desire to be able to support others wherever I can.
        </p>
      </div>
      <div>
        <img src="assets/img/icons/puzzle.png" alt="" />
        <p>
          I am a very relaxed and at the same time direct guy with whom you
          always have a fun and pleasant working atmosphere.
        </p>
      </div>
    </div>
  </div>
  <div class="a-me-right">
    <img src="assets/img/me/avatar-small.png" alt="" />
    <div></div>
  </div>

  <img
    class="bg-shape-about-me"
    src="assets/img/build-objects/purple.png"
    alt=""
  />
</div>
