<div class="about-me">
  <div class="a-me-left">
    <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>
    <p>{{ "ABOUT_ME.INTRO" | translate }}</p>
    <div class="a-me-left-sub">
      <div>
        <img src="assets/img/icons/bulb.png" alt="" />
        <p>{{ "ABOUT_ME.CHARACTER" | translate }}</p>
      </div>
      <div>
        <img src="assets/img/icons/puzzle.png" alt="" />
        <p>{{ "ABOUT_ME.ATMOSPHERE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="a-me-right">
    <img src="assets/img/me/avatar-small.webp" alt="" />
    <div></div>
  </div>

  <img
    class="bg-shape-about-me"
    src="assets/img/build-objects/purple.png"
    alt=""
  />
</div>
