<div class="main-c">
  <app-header></app-header>
  <app-above-the-fold></app-above-the-fold>
  <app-about-me
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-about-me>
  <app-my-skills
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-my-skills>
  <app-portfolio
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-portfolio>
  <app-contact
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-contact>
</div>
