.page {
  position: relative;

  display: flex;
  flex-direction: column;
}

#landing,
#about,
#skills,
#portfolio,
#contact {
  padding: 0 100px;
  overflow: hidden;
}

#about,
#skills,
#portfolio,
#contact {
  padding: 100px 100px;
}
