<div class="main-c">
  <app-above-the-fold></app-above-the-fold>
  <app-about-me
    id="about"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-about-me>
  <app-my-skills
    id="skills"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-my-skills>
  <app-portfolio
    id="portfolio"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-portfolio>
  <app-contact
    id="contact"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="250"
  ></app-contact>
</div>
