@import "./../../../styles.scss";

.my-skills {
  position: relative;
  z-index: 2;

  width: $width;
  padding: 0 var(--space);

  display: flex;
  justify-content: space-between;
}

.m-skills-left {
  display: flex;
  flex-wrap: wrap;

  width: 721px;
  height: 414.41px;
  gap: 54px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100px;
    width: 88px;

    gap: 10px;

    img {
      height: 60px;

      transition: 100ms ease-in;

      &:hover {
        transform: translateY(-10px);
      }
    }

    p {
      color: white;
      font-size: 16px;
      font-weight: 700;

      white-space: pre-wrap; /* Umgang mit Leerzeichen wie in der ursprünglichen Formatierung */
      word-wrap: break-word; /* Umbruch bei langen Wörtern */
      width: fit-content; /* Anpassung der Breite an den Inhalt */

      text-align: center;
    }
  }
}

.m-skills-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 34px;

  text-align: end;

  color: white;

  .m-skills-right-headline {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 42px;

    h2 {
      font-size: 90px;
      text-align: end;
    }

    div {
      height: 4px;
      width: 58px;
      background-color: #4b47ff;
      position: absolute;
      right: 0;
    }
  }

  p {
    font-size: 16px;
    width: 470px;
  }

  a {
    width: 200px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border-style: none;

    background: #00bee8;

    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: white;

    text-decoration: none;

    transition: 100ms;

    cursor: pointer;

    &:hover {
      scale: 1.1;

      background: #4b47ff;
    }
  }
}

.bg-shape-my-skills {
  position: absolute;
  top: 10%;
  left: -470px;
  z-index: -1;
  width: 560px;
  rotate: 190deg;
  transform: scaleX(-1);
}
