<div class="my-skills">
  <div class="m-skills-left">
    <div>
      <img src="assets/img/icons/skills/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/typescript.svg" alt="" />
      <p>Typescript</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/firebase.svg" alt="" />
      <p>Firebase</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/git.svg" alt="" />
      <p>GIT</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/html.svg" alt="" />
      <p>HTML</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/css.svg" alt="" />
      <p>CSS</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/javascript.svg" alt="" />
      <p>JavaScript</p>
    </div>
    <div>
      <img src="assets/img/icons/skills/api.svg" alt="" />
      <p>Rest-Api</p>
    </div>
    <!--     <div>
      <img src="assets/img/icons/skills/scrum.svg" alt="" />
      <p>Scrum</p>
    </div> -->
    <div>
      <img src="assets/img/icons/skills/material.svg" alt="" />
      <p>Material design</p>
    </div>
    <!--     <div>
      <img src="assets/img/icons/skills/wordpress.svg" alt="" />
      <p>Wordpress</p>
    </div> -->
  </div>
  <div class="m-skills-right">
    <div class="m-skills-right-headline">
      <h2>{{ "MY_SKILLS.HEADLINE" | translate }}</h2>
      <div></div>
    </div>
    <p>{{ "MY_SKILLS.DESCRIPTION" | translate }}</p>
    <a (click)="scrollToSection('contact')">{{
      "MY_SKILLS.GET_IN_TOUCH" | translate
    }}</a>
  </div>

  <img
    class="bg-shape-my-skills"
    src="assets/img/build-objects/green-shadow.png"
    alt=""
  />
</div>
