.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 116px;

  &:nth-child(2) {
    background-color: green;
  }
}

img {
  height: 450px;
  flex: 1;
  object-fit: contain;
}

.project-rightside {
  display: flex;
  flex-direction: column;

  width: 513px;

  gap: 35px;

  color: white;

  h3 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;

    color: #4b47ff;
  }

  > .project-rightside-description {
    display: flex;
    flex-direction: column;

    gap: 15px;

    p:first-child {
      font-size: 23px;
      font-weight: 400;
      text-align: left;

      color: #00bee8;
    }

    p:nth-child(2) {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .project-rightside-buttons {
    display: flex;
    justify-content: space-between;

    width: 375px;
    height: 65.36px;
    gap: 86px;

    > button:first-child {
      padding: 15px 30px 15px 30px;
      gap: 10px;
      border-radius: 10px;
      border-style: none;

      background-color: #4b47ff;
      color: white;

      font-size: 23px;
      font-weight: 400;

      transition: 100ms;

      cursor: pointer;

      &:hover {
        background-color: #00bee8;
      }
    }

    > button:last-child {
      padding: 15px 30px 15px 30px;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid #00bee8;

      background-color: transparent;
      color: white;

      font-size: 23px;
      font-weight: 400;

      transition: 100ms;

      cursor: pointer;

      &:hover {
        background-color: #00bee8;
      }
    }
  }

  &.align-end {
    align-items: flex-end;

    > .project-rightside-description {
      display: flex;
      flex-direction: column;
      align-items: end;

      text-align: end;
    }
  }
}
