<div class="projects">
  <img [src]="image" alt="" />
  <div class="project-rightside">
    <h3>{{ title }}</h3>
    <div class="project-rightside-description">
      <p>{{ skills }}</p>
      <p>{{ description }}</p>
    </div>
    <div class="project-rightside-buttons">
      <a href="{{ linksProjects }}" target="_blank" rel="noopener noreferrer"
        >Live Test</a
      >

      <a href="{{ linksGithub }}" target="_blank" rel="noopener noreferrer"
        >Github</a
      >
    </div>
  </div>
</div>
