<div class="long-bg">
  <footer>
    <div class="footer-left">
      <a class="home-link" href="#">
        <img src="assets/img/me/logo.png" alt="" />
      </a>
      <a [routerLink]="['/imprint']" i18n="@@imprintLink">Imprint</a>
    </div>
    <p>© Andino Eichberger 2024</p>
    <div class="footer-right">
      <a
        href="https://github.com/AnonymMonkey"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/img/icons/github.png" alt="github"
      /></a>
      <a
        href="https://www.linkedin.com/in/andino-eichberger-54107b32a/"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/img/icons/linkedin.png" alt="linkedin"
      /></a>
      <a href="mailto:contact@andino-eichberger.com"
        ><img src="assets/img/icons/mail.png" alt="mail"
      /></a>
    </div>
  </footer>
  <div class="footer-cutline"></div>
</div>
