@import "./../../../styles.scss";

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 35vh;

    padding-top: 25px;
    padding-bottom: 50px;

    .footer-left {
      .home-link {
        justify-content: center;
        img {
          width: 75%;
        }
      }

      a:nth-child(2) {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
}
