@import "./../../../styles.scss";

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .portfolio {
    margin-top: 100px;

    .p-start {
      position: absolute !important;
      left: 0 !important;
      width: unset !important;
      gap: unset !important;

      .p-headline {
        gap: 10px !important;
        position: relative;
        left: calc(
          50% + -10px + var(--space-negativ) + -97px
            /* <- = width h2 element divided by two */
        );

        h2 {
          font-size: 45px !important;
        }
      }

      p {
        text-align: center;
        padding: var(--space);
      }
    }

    .p-projects {
      gap: 80px;
    }
  }
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
  .p-projects {
    padding-top: 200px !important;
  }
  .p-headline {
    h2 {
      width: 100%;
    }
  }

  .bg-shape-portfolio-mid {
    left: -250px;
    top: 30%;
  }
}

/* smallest devices (300px and down) */
@media only screen and (max-width: 300px) {
  .p-headline {
    h2 {
      width: 100%;
    }

    .p-headline-cutline-big {
      display: none;
    }
  }
}
