<div class="portfolio">
  <div class="p-start">
    <div class="p-headline">
      <div class="p-headline-cutline-small"></div>
      <h2>Portfolio</h2>
      <div class="p-headline-cutline-big"></div>
    </div>
    <p>{{ "PORTFOLIO.INTRO" | translate }}</p>
  </div>

  <div class="p-projects">
    <app-projects
      *ngFor="let project of projectsData"
      [title]="project.title"
      [skills]="project.skills"
      [description]="project.description"
      [image]="project.image"
      [linksProjects]="project.linksProjects"
      [linksGithub]="project.linksGithub"
    >
    </app-projects>
  </div>

  <img
    class="bg-shape-portfolio-mid"
    src="assets/img/build-objects/vector5.png"
    alt=""
  />
  <img
    class="bg-shape-portfolio-end"
    src="assets/img/build-objects/green-shadow.png"
    alt=""
  />
</div>
