@import "./../../../styles.scss";

.portfolio {
  position: relative;
  z-index: 2;

  width: $width;
  padding: 0 var(--space);

  .p-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: calc(
      50% + -35px + var(--space-negativ) + -194px
        /* <- = width h2 element divided by two */
    );
    width: 100vw;
    gap: 35px;

    text-align: start;

    .p-headline {
      display: flex;
      align-items: center;
      gap: 36px;
      width: 100%;

      .p-headline-cutline-small {
        min-width: var(--space);
        height: 4px;
        background-color: $color-darkblue;
      }

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 90px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;

        color: $color-white;
      }

      .p-headline-cutline-big {
        width: 100%;
        height: 4px;
        background-color: $color-darkblue;
      }
    }

    p {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
    }
  }

  .p-projects {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
  }
}

.bg-shape-portfolio-mid {
  position: absolute;
  left: -150px;
  top: 34%;
  z-index: -1;
  width: 636px;
}

.bg-shape-portfolio-end {
  position: absolute;
  bottom: var(--space-negativ);
  right: -250px;
  width: 508px;
  rotate: 75deg;
  z-index: -1;
}
